
	.full_div {
		width: 100%;
		display: inline-block;
		padding-bottom: 10px;
	}

	.half_div {
		width: 40%;
		display: inline-block;

	}

	.booktable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

select#book_ratings,select#book_publisher,select#book_author {
    width: 100%;
}

.button {
    padding-bottom: 20px;
}